/* h1 {
    display: inline-flex;
    flex-direction: row;
} */
.input-group {
    display: flex;
    flex-direction: column;
    width: 300px;
    ;
}

.search-button {
    margin-top: 10px;
    width: 300px;
}

.form-control {
    width: 300px;
    border-radius: 2%;
}

.search-city-button {
    background: #ada9a9;
    width: 300px;
    padding: 7px 12px 7px 11px;
    margin-top: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }


.col-lg-3 {
    flex-wrap: wrap;
}

#today{
border: 1px solid #100f0f;
height: 175px;
}

#forecast{
height: 200px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.card{
width: 170px;
height: 200px;
background: rgb(32, 32, 32);
}

.card-body{
    color: white;
}

.weather-header{
    background-color: navy;
}

.dashboard {
border: 1px solid black;
border-radius: 5px;
}